OPENAI_API_KEY="key_in_these_quotes"

GOOGLE_APPLICATION_CREDENTIALS=/home/ubuntu/Code/fluent/google_key.json

# API Configuration
API_HOST=https://fluent.monster

HOST = 0.0.0.0
PORT = 5173

DEBUG=True
