<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <h1>Translation App</h1>
    <nav>
        <ul>
            <li><a href="/">Input</a></li>
            <li><a href="/table">Table</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html> 